/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  font-family: "Minion Pro","Palatino","Hoefler Text","Times New Roman",serif;
  font-size: 1em;
  color: #211f1c;
  background: #fefefe;
  width: 650px;
  margin: 0px auto;
  line-height: 27px;
  padding-top: 10px;
}

/* line 19, ../sass/screen.scss */
a {
  color: #0062b8;
  text-decoration: none;
}
/* line 22, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
  color: #3395eb;
}

/* line 28, ../sass/screen.scss */
h1 {
  font-size: 3em;
  line-height: 2em;
}

/* line 33, ../sass/screen.scss */
h2 {
  font-size: 2em;
  line-height: 2em;
}

/* line 38, ../sass/screen.scss */
h3 {
  font-size: 1.3em;
  line-height: 2em;
}

/* line 43, ../sass/screen.scss */
p {
  margin-bottom: 14px;
}

/* line 47, ../sass/screen.scss */
em {
  font-style: italic;
  font-weight: bold;
}

/* line 52, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 56, ../sass/screen.scss */
blockquote {
  border-left: 4px solid #cbcbcb;
  padding-left: 40px;
  margin-left: 0px;
  font-size: 0.9em;
  line-height: 20px;
}

/* line 64, ../sass/screen.scss */
hr {
  width: 50%;
  height: 2px;
  background-color: #cbcbcb;
  border: none;
  margin-bottom: 14px;
}

/* line 72, ../sass/screen.scss */
ul, ol {
  margin-bottom: 14px;
}

/* line 75, ../sass/screen.scss */
ul {
  list-style-type: disc;
  margin-left: 15px;
}

/* line 80, ../sass/screen.scss */
ol {
  list-style-type: decimal;
  margin-left: 20px;
}

/* line 85, ../sass/screen.scss */
.header {
  height: 50px;
}
/* line 87, ../sass/screen.scss */
.header a.header-text {
  color: #211f1c;
  font-family: 'Arvo', serif;
  text-decoration: none;
  font-size: 2em;
  float: left;
}
/* line 94, ../sass/screen.scss */
.header a.header-text:hover {
  text-decoration: underline;
}

/* line 100, ../sass/screen.scss */
.content {
  font-size: 18px;
  clear: both;
}
/* line 103, ../sass/screen.scss */
.content img {
  display: block;
  margin: 0px auto;
}

/* line 109, ../sass/screen.scss */
.posts {
  margin-top: 30px;
}
/* line 111, ../sass/screen.scss */
.posts .post-date {
  font-family: Georgia;
  background-color: #DEDEDE;
  color: #333;
  font-size: 13px;
  margin-right: 15px;
  width: 95px;
  position: relative;
  bottom: 1px;
  display: inline-block;
  text-align: center;
  margin-bottom: 9px;
}

/* line 126, ../sass/screen.scss */
code {
  font-size: 14px;
  background-color: #dedede;
  font-family: 'andale mono', 'Chivo', sans-serif;
  padding: 1px 3px;
}

/* line 133, ../sass/screen.scss */
.highlight {
  background: #fafafa;
  border: 1px solid #D5D5D5;
  padding: 5px 0px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: scroll;
}
/* line 142, ../sass/screen.scss */
.highlight code {
  background-color: #fafafa;
  padding: 0px;
}

/* line 148, ../sass/screen.scss */
.navigation {
  float: right;
}
/* line 150, ../sass/screen.scss */
.navigation a {
  display: inline-block;
  padding: 2px 5px;
  font-family: Arvo;
}

/* line 157, ../sass/screen.scss */
.footer-wrap {
  margin-top: 50px;
  width: inherit;
}
/* line 160, ../sass/screen.scss */
.footer-wrap .footer {
  padding-top: 5px;
  border-top: 1px dotted #AAA;
}
/* line 163, ../sass/screen.scss */
.footer-wrap .footer .copyright {
  text-align: right;
  color: #888;
  font-size: 11px;
}

/* line 171, ../sass/screen.scss */
.respond {
  text-align: center;
  color: #888;
  font-size: 15px;
}

/* line 177, ../sass/screen.scss */
.example {
  padding: 20px;
}
