@import "compass/reset";

$background_color: #E6E3D0;
$color: #514D46;

$link_color: #4C9DDC;

$header_color: #D34831;
$subtext_color: #AAAAAA;

$line_color: #D5D5D5;

$command_bg: #D3D3D3;
$codeblock_bg: #F5F5F5;
