@import "compass/reset";

$background_color: #F8F8F8;
$color: #211F1C;

$header_color: #1495EB;

$link_color: $header_color - #333;
$link_hover: $link_color + #333;


$line_color: $background_color - #333;

$command_bg: #DEDEDE;
$codeblock_bg: $background_color + #222;


$paragraph_break: 14px;
