!font_color = #333
!link_base= #3C5979
!link_hover= !link_base + #333

@import compass/reset.sass

=centered
	text-align: center

=link_stan
	color= !link_base
	text-decoration: none
	
=tweet_meta
	text-align: right
	font-size: 12px
	padding-right: 5px
	
=tweet_link
	color= #DCDCDC
	
=tweet_link_hover
	color= #FFFFFF
	text-decoration: underline