@import base.sass

body
	padding-top: 10px
	font-size: 1.5em
	font-family: Monaco, "Helvetica Neue", Helvetica
	color: $font_color
	background: #101010 !important
	height: 50000px
	overflow: hidden

h1
	+right_hand_side
	font-size: 4em

a
	+link_stan
	
a:visited
	+link_stan
	
a:hover
	color: $link_hover
	text-decoration: underline
	
#container
	width: 100%
	
#header
	width: 100%
	h1
		a
			color: $font-color
		a:hover
			color: $link_hover
#body
	margin: 15px 100px
	line-height: 1.5em
	#main_desc
		text-align: left
		width: 70%
		
#twitter-results-wrap
	border: 3px dashed #262626
	width: 50%
	margin: 50px 0px
	
#twitter-results
	margin: 0px auto
	padding: 5px
	text-align: left
	hr
		border-color: $font_color
		margin: 0

.tweet
	font-size: 0.5em
	padding: 0px 5px
	height: 110px
	position: relative
	
	#twitter-meta
		+tweet_meta
		position: absolute
		bottom: 0px
		right: 0px
	

#twitter-footer
	+tweet_meta
	padding-right: 9px
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	
	.tweet-button
		color: $link_base
		
		
	.tweet-button:hover
		color: $link_hover
		cursor: pointer
		text-decoration: underline
	
#construction-info
	+right_hand_side
	font-size: $under_header
	margin-top: 15px
	
#footer
	+right_hand_side
	margin-top: 10px
	font-size: $under_header
	
#info-top
	img
		vertical-align: bottom
	span
		font-size: 60px
		margin-bottom: 15px
		display: inline-block
	margin-bottom: 25px