.index
    .main
        Hi. My name is Michael Cramm. 
        %br
        I am a Ruby/Rails Hobyist and fervent moviegoer.

    .middleWrap
        .middle
            .leftWrap
                .left
                    %h2 What the heck is this?
                    %p
                        This is simply a persoanl landing page I setup for people trying to contact me. 
                    %p
                        I used to have a blog here, but absolutely nothing to write about.
                    %p
                        You can check out (some) of the projects I've worked on by clicking 
                        %a{:href => "http://github.com/mcramm"}
                            here.
            .rightWrap
                .right
                    %h2 On Twitter
                    #tweets
                    .tweets-bottom
                        %a{:href=>"http://twitter.com/cramm"}
                            See More Updates
