#info-top
	%img{:src => "http://www.gravatar.com/avatar/87aca8c72a55340bc0065de981ab1701?s=125"}
	%span
		Hi! My name is Mike
	
#info-main
	%p
		I've been playing with Ruby for over a year, though I've been building sites since I was about 14. 
	%br
	%p
		I'm currently working at
		%a{:href => "http://curvedental.com"} curvedental
		%span>
		, a web-based solution for dental offices.
	%br
	%p
		You can check out some of my code, (including this site) at 
		%a{:href => "http://github.com/mcramm"} Github
		%span>
		, and you can follow me on
		
		%a{:href => "http://twitter.com/cramm"} Twitter
		%span>
		\.
	