.info
    .summary 
        I've been building basic websites, (html + css), for a long time, and I've spent a lot of time getting experience with the following technologies:
    %table
        %tr
            %td.list
                %h2 Languages
                %ul{:class => "languages"}
                    %li Ruby
                    %li PHP
                    %li Javascript(Dojo, Jquery, Prototype) 
            %td.list
                %h2 Frameworks
                %ul{:class => "misc"}
                    %li Sinatra
                    %li Rails 
                    %li Akelos
        %tr
            %td.list
                %h2 Misc. Technologies
                %ul{:class => "misc"}
                    %li Git
                    %li Subversion 
                    %li Haml
                    %li Sass
            %td.list
                %h2 And a ton more.
                %p That I'm just waiting to put here.
