.reviews
    .reviewWrap
        %a.review{:href => "http://www.google.ca"}
            %span.number
                1
            %span.title
                Some Title
            %span.date
                7/15/2010
    .reviewWrap
        %a.review
            %span.number
                2
            %span.title
                A really long title that takes up more space
            %span.date
                8/25/2010
    .reviewWrap
        %a.review
            %span.number
                3
            %span.title
                Some Title
            %span.date
                10/9/2010
