body {
  width: 800px;
  margin: 0 auto 0 5em;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.45;
  background-color: #FEFEFA;
}

a {
  color: #2077B2;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:visited {
  text-decoration: none;
  color: #2077B2;
  transition: all 0.2s ease;
}

a:hover {
  color: #154D73;
  text-decoration: underline;
}

ul.posts {
  list-style-type: none;
  margin: 0 0.5em;
  padding: 0;
}

ul.posts li {
  margin: 0.5em 0;
}

em.published-at {
  font-size: 0.8em;
  color: gray;
}

div.tags {
  margin: 2em 0.5em 0;
  font-size: 0.7em;
}

div.tags ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

div.tags p {
  margin: 0 0 0.5em;
}

div.nav {
  font-size: 0.8em;
}

div.nav a {
  margin: 0 0.5em;
}

div.nav a:first-child {
  margin: 0 0.5em 0 0;
}

div.nav a:last-child {
  margin: 0 0 0 0.5em;
}

p {
  line-height: 1.5em;
}

pre code.hljs {
  padding: 1px 3px;
  overflow-x: visible;
  background-color: #FEFEFA;
  font-size: 16px;
}

p code {
  font-size: 15px;
}

div#mc_embed_signup {
  background-color: #f4f4ed;
  margin-top: 10px;
  padding: 5px 0;
}

div#mc_embed_signup form {
  width: 510px;
  margin: 0 auto;
}

div#mc_embed_signup h2 {
  font-size: 1.2em;
}

div.mc-field-group {
  font-size: 0.8em;
  justify-content: flex-end;
  align-content: center;
  width: 300px;
  margin: 0 auto;
  display: flex;
}

div.mc-field-group input.email {
  width: 100%;
}

input#mc-embedded-subscribe {
  background-color: #2AC141;
  color: white;
  border-radius: 2px;
  border: none;
  margin-top: 5px;
}

input#mc-embedded-subscribe:hover {
  cursor: pointer;
}

div.optionalParent {
  display: flex;
  justify-content: flex-end;
}

p.brandingLogo img {
  width: 170px;
}
