<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo&v2' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/screen.css'></link>
    <link rel='stylesheet' href='/css/highlight.css'></link>
    <link rel='shortcut icon' type='image/ico' href='http://mcramm.com/favicon.png'></link>
  </head>
  <body>
    <div class='header'>
        <a class='header-text' href='/'>mcramm.com</a>
            <div class='buttons'>
                <a href='https://github.com/mcramm'><img src='img/Octocat.png' width='40px'/></a>
                <a href='http://twitter.com/cramm'><img src='img/twitter_newbird_blue.png' width='40px'/></a>
            </div>
    </div>
    {{ content }}

    <div class='footer-wrap'>
        <div class='footer'>
            <div class='copyright'>&copy; 2012 Michael Cramm</div>
        </div>
    </div>
</body>
</html>
